<!-- top header start -->
<div class="pa-top-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="pa-header-address">
                    <p><span>Address:</span> 12-13-14, Jalaram Nagar, Kim-Olpad Road, Vadoli, Tal.: Olpad, Dist. : Surat
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pa-header-call">
                    <p>Emergency Call :<span>+91 97129 32739</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top header end -->
<!-- main header start -->
<div class="pa-main-header pa-head-three">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="pa-logo">
                    <a routerLink=""><img src="assets/images/new.png" alt="image" class="img-fluid" /></a>
                </div>
            </div>
            <div class="col-md-9 col-6">
                <div class="pa-nav-bar">
                    <div class="pa-menu">
                        <ul>
                            <li>
                                <a routerLink="">Home</a>
                            </li>
                            <li>
                                <a routerLink="Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main header end -->