<!-- breadcrumb start -->
<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>contact us</h1>
            <ul>
                <li><a routerLink="">Home</a></li>
                <li>contact us</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- contact start -->
<div class="pa-contact spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pa-contact-map">
                    <div style="width: 100%;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d526.5410248523663!2d72.8392702539334!3d21.43345762555564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be031aaa4455491%3A0x4103f9afa7a25d8c!2z4Kqc4Kqy4Kq-4Kqw4Kq-4KquIOCqqOCql-CqsCDgqqrgqoLgqprgqr7gqrIg4KqI4Kqy4KuH4KqV4KuN4Kqf4KuN4Kqw4KuL4Kqo4Kq_4KqV!5e1!3m2!1sen!2sin!4v1698915820250!5m2!1sen!2sin"
                            frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->

<!-- contact detail start -->
<div class="pa-contact-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pa-contact-box">
                    <h4>Address</h4>
                    <a href="https://maps.app.goo.gl/6mgT9mQHy87QNsyY8" target="_blank" style="color: black;">
                        12-13-14, Jalaram Nagar, Kim-Olpad Road, Vadoli, Tal.: Olpad, Dist. : Surat - 394 110.
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pa-contact-box">
                    <h4>Contant no.</h4>
                    <a href="tel:+9197129-32739" style="color: black;">+91 97129 32739</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pa-contact-box">
                    <h4>Email</h4>
                    <a href="mailto:decentc.hc@gmail.com" style="color: black;" target="_blank">decentc.hc@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact detail end -->